 @import url("'https://fonts.googleapis.com/css2?family=Catamaran&family=Raleway:ital,wght@1,300&display=swap");

@import url("components/container.css");
@import url("components/avatar1.css"); 
@import url("components/button.css"); 
@import url("components/banner.css"); 
@import url("components/card.css"); 

 body { 
	font-family: 'Catamaran', sans-serif;
 	font-size: 17 px;

  } 

   h1, h2, h3 {
 	font-family: 'Raleway', sans-serif;
 	fonr-weight: bold;
 }

a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}